@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


p{
    font-family: 'Roboto Mono', monospace !important;
}

div{
    font-family: 'Roboto Mono', monospace !important;
}

span{
    font-family: 'Roboto Mono', monospace !important;
}

.body{
    font-family: 'Roboto Mono', monospace !important;
    background-color: $bg !important;
}

.layout_color{
    background-color: $layout;
}

.header{
    background-color: $layout;
}