@import "_variables.scss";

.sidebar{
    background-color: $layout;
}

.active-menu-link{
    border-left: 4px solid $acitve;
    color: white;
    background-color:adjust-hue($color: #4b4a4a, $degrees: 0);
}